/*WidthDesktop-1700*/
/*WidthDesktop-1520*/
/*WidthDesktop-1400*/
/*WidthDesktop-1200*/
/*WidthDesktop-1024*/
/*WidthDesktop-992*/
/*WidthDesktop-768*/
/*WidthDesktop-580*/
/*WidthDesktop-420*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, button, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  outline: none;
  vertical-align: baseline;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }

main, article, aside, details, figcaption, figure,
footer, header, menu, nav, section {
  display: block; }

html,
body {
  min-height: 100%; }

.fluid-font-size {
  font-size: 16px; }
  @media (min-width: 320px) {
    .fluid-font-size {
      font-size: 18px;
      font-size: calc( 0.00336 * 100vw + 14.92437px); } }
  @media (min-width: 2700px) {
    .fluid-font-size {
      font-size: 24px; } }

body {
  color: #0A1833;
  font-weight: 400;
  font-family: "Montserrat", sans-serif;
  line-height: 133%;
  font-size: 14px;
  -webkit-font-smoothing: antialiased;
  background-color: #F5F7FC; }
  @media (min-width: 320px) {
    body {
      font-size: 16px;
      font-size: calc( 0.00084 * 100vw + 13.73109px); } }
  @media (min-width: 2700px) {
    body {
      font-size: 16px; } }

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100vh;
  overflow: hidden;
  overflow-y: auto;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

h1, h2, h3, h4, h5, h6 {
  line-height: 133%;
  font-weight: 900;
  color: #0A1833;
  margin-bottom: 24px; }
  @media (min-width: 320px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 32px;
      margin-bottom: calc( 0.01008 * 100vw + 20.77311px); } }
  @media (min-width: 2700px) {
    h1, h2, h3, h4, h5, h6 {
      margin-bottom: 48px; } }

h1,
.h1 {
  font-size: 24px; }
  @media (min-width: 320px) {
    h1,
    .h1 {
      font-size: 32px;
      font-size: calc( 0.01008 * 100vw + 20.77311px); } }
  @media (min-width: 2700px) {
    h1,
    .h1 {
      font-size: 48px; } }

h2,
.h2 {
  font-size: 16px; }
  @media (min-width: 320px) {
    h2,
    .h2 {
      font-size: 24px;
      font-size: calc( 0.00672 * 100vw + 13.84874px); } }
  @media (min-width: 2700px) {
    h2,
    .h2 {
      font-size: 32px; } }

h3,
.h3 {
  font-size: 16px; }
  @media (min-width: 320px) {
    h3,
    .h3 {
      font-size: 18px;
      font-size: calc( 0.00336 * 100vw + 14.92437px); } }
  @media (min-width: 2700px) {
    h3,
    .h3 {
      font-size: 24px; } }

h4,
.h4 {
  font-size: 16px; }
  @media (min-width: 320px) {
    h4,
    .h4 {
      font-size: 18px;
      font-size: calc( 0.00168 * 100vw + 15.46218px); } }
  @media (min-width: 2700px) {
    h4,
    .h4 {
      font-size: 20px; } }

h5,
.h5 {
  font-size: 16px; }
  @media (min-width: 320px) {
    h5,
    .h5 {
      font-size: 16px;
      font-size: calc( 0 * 100vw + 16px); } }
  @media (min-width: 2700px) {
    h5,
    .h5 {
      font-size: 16px; } }

h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a {
  text-decoration: none;
  color: #0A1833; }

strong {
  font-weight: 700; }

a:link {
  -webkit-text-decoration-color: rgba(0, 51, 154, 0.2);
          text-decoration-color: rgba(0, 51, 154, 0.2);
  color: #00339A; }

a:visited {
  color: rgba(0, 51, 154, 0.5);
  -webkit-text-decoration-color: rgba(0, 51, 154, 0.5);
          text-decoration-color: rgba(0, 51, 154, 0.5); }

a:hover {
  -webkit-text-decoration-color: #00339A;
          text-decoration-color: #00339A; }

ul, p, ol {
  padding: 0;
  margin-bottom: 16px; }
  @media (min-width: 320px) {
    ul, p, ol {
      margin-bottom: 24px;
      margin-bottom: calc( 0.00336 * 100vw + 14.92437px); } }
  @media (min-width: 2700px) {
    ul, p, ol {
      margin-bottom: 24px; } }

p:empty {
  display: none; }

ul,
ol {
  margin-left: 24px;
  list-style-type: square; }
  ul ul, ul ol,
  ol ul,
  ol ol {
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 16px; }
    @media (min-width: 320px) {
      ul ul, ul ol,
      ol ul,
      ol ol {
        margin-top: 24px;
        margin-top: calc( 0.00336 * 100vw + 14.92437px); } }
    @media (min-width: 2700px) {
      ul ul, ul ol,
      ol ul,
      ol ol {
        margin-top: 24px; } }
    @media (min-width: 320px) {
      ul ul, ul ol,
      ol ul,
      ol ol {
        margin-bottom: 24px;
        margin-bottom: calc( 0.00336 * 100vw + 14.92437px); } }
    @media (min-width: 2700px) {
      ul ul, ul ol,
      ol ul,
      ol ol {
        margin-bottom: 24px; } }
  ul li,
  ol li {
    margin-bottom: 8px; }
    @media (min-width: 320px) {
      ul li,
      ol li {
        margin-bottom: 16px;
        margin-bottom: calc( 0.00336 * 100vw + 6.92437px); } }
    @media (min-width: 2700px) {
      ul li,
      ol li {
        margin-bottom: 16px; } }
    ul li:last-child,
    ol li:last-child {
      margin-bottom: 0; }

img {
  outline: none;
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  height: auto; }

section,
.section {
  padding-top: 24px;
  padding-bottom: 24px; }
  @media (min-width: 320px) {
    section,
    .section {
      padding-top: 48px;
      padding-top: calc( 0.01345 * 100vw + 19.69748px); } }
  @media (min-width: 2700px) {
    section,
    .section {
      padding-top: 56px; } }
  @media (min-width: 320px) {
    section,
    .section {
      padding-bottom: 48px;
      padding-bottom: calc( 0.01345 * 100vw + 19.69748px); } }
  @media (min-width: 2700px) {
    section,
    .section {
      padding-bottom: 56px; } }
  section:first-of-type,
  .section:first-of-type {
    padding-top: 48px; }
    @media (min-width: 320px) {
      section:first-of-type,
      .section:first-of-type {
        padding-top: 96px;
        padding-top: calc( 0.02689 * 100vw + 39.39496px); } }
    @media (min-width: 2700px) {
      section:first-of-type,
      .section:first-of-type {
        padding-top: 112px; } }
  section:last-of-type,
  .section:last-of-type {
    padding-bottom: 48px; }
    @media (min-width: 320px) {
      section:last-of-type,
      .section:last-of-type {
        padding-bottom: 96px;
        padding-bottom: calc( 0.02689 * 100vw + 39.39496px); } }
    @media (min-width: 2700px) {
      section:last-of-type,
      .section:last-of-type {
        padding-bottom: 112px; } }

.container {
  width: 1248px;
  margin: 0 auto; }
  @media screen and (max-width: 767px) {
    .container {
      width: calc(100% - 48px); } }
  @media screen and (max-width: 419px) {
    .container {
      width: calc(100% - 32px); } }
  .container.container-fluid {
    width: 100%; }

.row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: calc(100% + 32px);
  margin: 0 -16px; }
  .row.row_justify-content-between {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between; }
  @media screen and (max-width: 991px) {
    .row {
      width: calc(100% + 24px);
      margin: 0 -12px; } }

.col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0 16px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box; }
  @media screen and (max-width: 991px) {
    .col {
      padding: 0 12px; } }
  .col.col_1 {
    width: 8.3333%; }
  .col.col_2 {
    width: 16.666%; }
  .col.col_3 {
    width: 25%; }
  .col.col_4 {
    width: 33.3%; }
  .col.col_5 {
    width: 41.666667%; }
  .col.col_6 {
    width: 50%; }
  .col.col_7 {
    width: 58.333333%; }
  .col.col_8 {
    width: 66.666667%; }
  .col.col_9 {
    width: 75%; }
  .col.col_10 {
    width: 83.333333%; }
  .col.col_11 {
    width: 91.666667%; }
  .col.col_12 {
    width: 100%; }
  @media (max-width: 1400px) {
    .col.col_big-desktop-2 {
      width: 16.66%; }
    .col.col_big-desktop-3 {
      width: 25%; }
    .col.col_big-desktop-4 {
      width: 33.3%; }
    .col.col_big-desktop-5 {
      width: 41.666667%; }
    .col.col_big-desktop-6 {
      width: 50%; }
    .col.col_big-desktop-7 {
      width: 58.333333%; }
    .col.col_big-desktop-8 {
      width: 66.666667%; }
    .col.col_big-desktop-9 {
      width: 75%; }
    .col.col_big-desktop-10 {
      width: 83.333333%; }
    .col.col_big-desktop-11 {
      width: 91.666667%; }
    .col.col_big-desktop-12 {
      width: 100%; } }
  @media (max-width: 1200px) {
    .col.col_middle-desktop-2 {
      width: 16.66%; }
    .col.col_middle-desktop-3 {
      width: 25%; }
    .col.col_middle-desktop-4 {
      width: 33.3%; }
    .col.col_middle-desktop-5 {
      width: 41.666667%; }
    .col.col_middle-desktop-6 {
      width: 50%; }
    .col.col_middle-desktop-7 {
      width: 58.333333%; }
    .col.col_middle-desktop-8 {
      width: 66.666667%; }
    .col.col_middle-desktop-9 {
      width: 75%; }
    .col.col_middle-desktop-10 {
      width: 83.333333%; }
    .col.col_middle-desktop-11 {
      width: 91.666667%; }
    .col.col_middle-desktop-12 {
      width: 100%; } }
  @media (max-width: 1200px) {
    .col.col_desktop-2 {
      width: 16.66%; }
    .col.col_desktop-3 {
      width: 25%; }
    .col.col_desktop-4 {
      width: 33.3%; }
    .col.col_desktop-5 {
      width: 41.666667%; }
    .col.col_desktop-6 {
      width: 50%; }
    .col.col_desktop-7 {
      width: 58.333333%; }
    .col.col_desktop-8 {
      width: 66.666667%; }
    .col.col_desktop-9 {
      width: 75%; }
    .col.col_desktop-10 {
      width: 83.333333%; }
    .col.col_desktop-11 {
      width: 91.666667%; }
    .col.col_desktop-12 {
      width: 100%; } }
  @media screen and (max-width: 991px) {
    .col.col_tab-3 {
      width: 25%; }
    .col.col_tab-4 {
      width: 33.3%; }
    .col.col_tab-5 {
      width: 41.666667%; }
    .col.col_tab-6 {
      width: 50%; }
    .col.col_tab-7 {
      width: 58.333333%; }
    .col.col_tab-8 {
      width: 66.666667%; }
    .col.col_tab-9 {
      width: 75%; }
    .col.col_tab-10 {
      width: 83.333333%; }
    .col.col_tab-11 {
      width: 91.666667%; }
    .col.col_tab-12 {
      width: 100%; } }
  @media screen and (max-width: 767px) {
    .col.col_mob-3 {
      width: 25%; }
    .col.col_mob-4 {
      width: 33.3%; }
    .col.col_mob-6 {
      width: 50%; }
    .col.col_mob-8 {
      width: 66.666667%; }
    .col.col_mob-12 {
      width: 100%; } }
  @media screen and (max-width: 579px) {
    .col.col_mob-p-12 {
      width: 100%; } }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

.content-center {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center; }

.content-left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start; }

.content-right {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end; }

.align-center {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center; }

.align-left {
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start; }

.align-right {
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end; }

.wysiwyg {
  margin-bottom: 24px; }
  @media (min-width: 320px) {
    .wysiwyg {
      margin-bottom: 32px;
      margin-bottom: calc( 0.01008 * 100vw + 20.77311px); } }
  @media (min-width: 2700px) {
    .wysiwyg {
      margin-bottom: 48px; } }
  .wysiwyg:last-child {
    margin-bottom: 0; }
  .wysiwyg img {
    display: block;
    margin: 0 auto 24px; }

.sidebar {
  background-color: #ffffff;
  padding-right: 48px;
  padding-left: 48px;
  padding-top: 48px;
  padding-bottom: 48px; }
  @media (min-width: 320px) {
    .sidebar {
      padding-right: 96px;
      padding-right: calc( 0.02689 * 100vw + 39.39496px); } }
  @media (min-width: 2700px) {
    .sidebar {
      padding-right: 112px; } }
  @media (min-width: 320px) {
    .sidebar {
      padding-left: 96px;
      padding-left: calc( 0.02689 * 100vw + 39.39496px); } }
  @media (min-width: 2700px) {
    .sidebar {
      padding-left: 112px; } }
  @media (min-width: 320px) {
    .sidebar {
      padding-top: 96px;
      padding-top: calc( 0.02689 * 100vw + 39.39496px); } }
  @media (min-width: 2700px) {
    .sidebar {
      padding-top: 112px; } }
  @media (min-width: 320px) {
    .sidebar {
      padding-bottom: 96px;
      padding-bottom: calc( 0.02689 * 100vw + 39.39496px); } }
  @media (min-width: 2700px) {
    .sidebar {
      padding-bottom: 112px; } }
  .sidebar-container {
    padding-right: 48px;
    padding-left: 48px; }
    @media (min-width: 320px) {
      .sidebar-container {
        padding-right: 96px;
        padding-right: calc( 0.02689 * 100vw + 39.39496px); } }
    @media (min-width: 2700px) {
      .sidebar-container {
        padding-right: 112px; } }
    @media (min-width: 320px) {
      .sidebar-container {
        padding-left: 96px;
        padding-left: calc( 0.02689 * 100vw + 39.39496px); } }
    @media (min-width: 2700px) {
      .sidebar-container {
        padding-left: 112px; } }
  .sidebar-list {
    margin: 0;
    list-style-type: none; }
  .sidebar-item {
    margin-bottom: 16px; }
    @media (min-width: 320px) {
      .sidebar-item {
        margin-bottom: 32px;
        margin-bottom: calc( 0.00672 * 100vw + 13.84874px); } }
    @media (min-width: 2700px) {
      .sidebar-item {
        margin-bottom: 32px; } }
    .sidebar-item a {
      display: block;
      text-decoration: none;
      margin-bottom: 0;
      color: rgba(10, 24, 51, 0.5);
      font-weight: 700; }
    .sidebar-item.active a {
      color: #00339A; }
    .sidebar-item:hover:not(.active) a {
      color: #0A1833; }
